# Copyright (c) 2019 The DAML Authors. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
.DS_Store
.idea
*.iml
node_modules
src/generated
test/generated
proto
docs
lib
sandbox.port
.daml
test/integration/src/sandbox.err
test/integration/src/sandbox.out
test/integration/src/sandbox.log
test/integration/src/.package-database
test/integration/src/daml/*.hi
test/integration/src/daml/*.hie
test/integration/src/dist
test/integration/src/uploadDar/.package-database
test/integration/src/uploadDar/sandbox.err
test/integration/src/uploadDar/sandbox.out
test/integration/src/uploadDar/sandbox.log
test/integration/src/uploadDar/dist
test/integration/src/uploadDar/.interfaces/daml
