# Azure Pipelines file, see https://aka.ms/yaml

# Enable builds on all branches
trigger:
  # Build every commit as our release process relies on
  # the release process being built alone.
  batch: false
  branches:
    include:
      - master

# Enable PR triggers that target the master branch
pr:
  autoCancel: true # cancel previous builds on push
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-16.04'
strategy:
  matrix:
    node_8_daml_0.12.16:
      nodejs_version: 8.x
      daml_sdk_version: 0.12.16
    node_10_daml_0.12.16:
      nodejs_version: 10.x
      daml_sdk_version: 0.12.16

steps:
- script: curl -sSL https://get.daml.com/ | sh
  displayName: Get DAML SDK installer
- script: ~/.daml/bin/daml install $(daml_sdk_version)
  displayName: Install DAML SDK $(daml_sdk_version)
- task: NodeTool@0
  displayName: Install Node.js $(nodejs_version)
  inputs:
    versionSpec: $(nodejs_version)
- script: npm run ci-pipeline
  displayName: Build and test
- bash: bash <(curl -s https://raw.githubusercontent.com/DACH-NY/security-blackduck/master/synopsys-detect) ci-build digitalasset_ex-daml-js master --logging.level.com.synopsys.integration=DEBUG
  displayName: Blackduck security scan
  env:
    BLACKDUCK_HUBDETECT_TOKEN: $(BLACKDUCK_HUBDETECT_TOKEN)

